// base-wired.less

// Put the logo in place
.logo {
	font-size: 3em;

	padding: @one / 4 0;

	a {
		color: @corpred + #333;
		text-shadow: .03em .03em 0 @link-hover;
		border: 0;

		&:hover,
		&:focus,
		&:active {
			color: @corpred + #666;
		}
	}
}

/*
	Toggle Buttons for the main-navigation
	and a button to go to the cart.
*/
.mobile-menu-buttons {
	position: absolute;
	top: 0;
	right: 0;

	/*
		matching the upper distance of the logo
		and the padding to the right border of the screen
	*/
	padding: @one + @one / 4 @one 0 0;
}

a[href="#user-nav"],
a[href="#cart"],
.closing a[href="#top"] {
	box-sizing: border-box;

	float: left;

	color: @bg;
	background: @link;

	height: @double;
	width: @double;

	border: .08em solid @link - #111;
	border-radius: @half / 2;

	box-shadow: 0 .08em .08em rgba(0,0,0,.4);

	&:hover {
		background-color: @link + #111;
	}

	&:active {
		background-color: @link;
		box-shadow:
			inset -.125em 0 .125em rgba(0,0,0,0.25),
			inset .125em 0 .125em rgba(0,0,0,0.25);
	}
}

a[href="#cart"] {
	// prevent people from tapping the wrong button by accident
	margin-right: @one;

	background: url(../images/svg/cart.svg) no-repeat 50% 50%, @link;
	background-size: 61.8%;

	transition: all ease .3s;

	&:active {
		background-position: 200% 50%;
	}
}

a[href="#user-nav"] {
	background: url(../images/svg/nav-icon.svg) no-repeat 50% 50%, @link;
	background-size: 61.8%;
}

// User Interaction Navigation (Profile Link, Logging in, out, Signing Up, Help)
.user-nav {
	box-sizing: border-box;

	text-align: center;

  position: absolute;
  top: -100em;
  
  height: 0;
  padding: 0;

  transition: top ease .6s;

  li {
  	font-size: @one * 2;
  	margin: @double 0 @gold;
  }

  .closing {
  	font-size: @one;

  	position: absolute;
  	top: 0;
  	right: @one;

  	width: @double;
  	height: @double;

  	margin-top: @one + @one / 4;

  	a {
  		background: url(../images/svg/x-icon.svg) no-repeat 50% 50%, @link;
  		background-size: 61.8%;
  	}
  }

  &:target {
		top: 0;

	  height: 100%;
	  overflow-y: scroll;
	  width: 100%;
	  padding: @one + @one / 4 0 @gold;
	  margin-bottom: @one;

	  background-color: @bg;

	  z-index: 9; // over over everything
	}
}

// Switching the nav lis on the state of the user
.logged-in .logged-in,
.logged-out .logged-out {
	display: block;
	width: 50%;
	float: left;
}

.logged-in .logged-out,
.logged-out .logged-in {
	display: none;
}

// Form Headlines
form h3 {
	font-size: 1.5em;

	color: @corpred;

	margin-bottom: @half;
}

// A search is crucial to a proper shop experience
.search {
	margin: @gold 0 0;
	padding-bottom: @gold;

	.long {
		display: none;

		background: url(../images/svg/search-icon.svg) no-repeat 50% 50%;
		background-size: contain;
	}

	.short {
		display: block;

		background: url(../images/svg/search-icon.svg) no-repeat 50% 50%;
		background-size: contain;
	}

	button {
		float: left;
		width: 30%;

		border-radius: 0 @half / 2 @half / 2 0;
	}
}

input[type="search"] {
	width: 70%;
	float: left;
	border-right: 0;
}

/*
	Login and Signup Forms are only needed when someone
	wants to interact with them.
*/
.signup,
.login {
	display: none;
  position: absolute;
  top: 0;
  
  width: 100%;
  height: 0;
  padding: 0;

  transition: all ease .3s;
}

.signup:target,
.login:target {
	display: block;
	position: relative;

  height: 100%;
  padding: @gold 0;
  margin: @double 0;

  border-bottom: .08em solid rgba(0,0,0,0.25);

  .closing {
  	position: absolute;
  	top: 1.25em;
  	right: 0;

  	a {
  		background: url(../images/svg/x-icon.svg) no-repeat 50% 50%, @link;
  		background-size: 61.8%;
  	}
  }
}

.signup input,
.login input,
.signup button,
.login button {
	width: 100%;

	border-radius: 0;
}

// A greeting sentence or motto or slogan
header {
	margin-top: @gold;
	border-bottom: .08em solid silver;

	p {
		font-size: 1.125em;
		line-height: 1.3;

		margin-bottom: @one;

		a {
			font-size: 2.25em;
			letter-spacing: -.02em;

			border: 0;
			color: @corpred + #333;

			&:hover,
			&:focus,
			&:active {
				color: @corpred + #666;
			}
		}
	}
}

// Breadcrumb Navigation – we have that too
.breadcrumb {
	margin: @one 0;

	li {
		float: left;

		&:after {
			content: "\00A0 \0020 > \0020 \00A0";
		}

		&:last-child:after {
			content: " ";
		}
	}
}

// Categories Navigation
.categories-nav {
	position: relative;

	padding-bottom: @gold;
	border-bottom: .08em solid silver;

	h2 {
		box-sizing: border-box;

		font-size: 2em;
		padding: @half / 3;

		border: .04em solid @link;

		transition: border-color ease .3s;

		&:hover {
			border-color: @link-hover;
		}

		a {
			border: 0;
			display: block;

			&:after {
				position: relative;
				top: .8em;

				content: "\0020";
				width: 0;
				height: 0;
				margin-left: @double;

				border-left: @half / 2 solid transparent;
				border-right: @half / 2 solid transparent;
				border-top: @half / 2 solid @link;
			}

			&:hover:after {
				border-top-color: @link-hover;
			}
		}
	}
}

.categories {
	/*text-align: center;
	height: 0;
	visibility: hidden;

	&:target {
		visibility: visible;

		position: absolute;
		top: 0;

		width: 100%;
		height: auto;

		background: @bg;
		z-index: 9;
	}

	li {
		width: 50%;
		float: left;
		margin-bottom: @double;

		&:last-child {
			margin-bottom: 0;
		}
	}*/
}